
<div id="page_content">
	<div id="page_content_inner">
		<div class="md-card">
			<div class="md-card-content">
				<div class="uk-grid" data-uk-grid-margin>
					<div class="uk-width-medium-1-1">
						<kendo-grid options="pmenuGrid"></kendo-grid>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="footer">
	<span style="display: block; text-align: right;">&copy;
		2015-2016 <a href="http://smartgt.mn/">Smart Green Technology LLC</a>,
		All rights reserved.
	</span>
</footer>
<style>
.k-textbox, .k-numerictextbox {
	width: 95%;
}

.k-grid td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
</style>