
<div id="page_content">
	<div id="page_content_inner">
		<div class="md-card">
			<div class="md-card-content">
				<div class="uk-grid" data-uk-grid-margin>
					<div class="uk-width-medium-1-1">
						<kendo-grid id="appsList" options="pmenuGrid"></kendo-grid>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="footer">
	<span style="display: block; text-align: right;">&copy;
		2015-2016 <a href="http://smartgt.mn/">Smart Green Technology LLC</a>,
		All rights reserved.
	</span>
</footer>
<style>

div.k-window{
	width: 100%;
	max-width: 800px;
}

.k-textbox, .k-numerictextbox {
	width: 95%;
}

.k-grid td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*
    Increase the width of the edit form.
    The default one is 400px.
*/

.k-edit-form-container
{
    width: 100%;
}

/*
    Decrease the width of the edit form labels. The default one is 30%.
    The new width should depend on the column titles.
    Switch the text alignment to the left. By default, it is to the right.
*/

.k-popup-edit-form .k-edit-label
{
    width: 20%;
    text-align: left;
}

/*
    Increase the width of the textbox containers. The default one is 60%.
    The sum of label and editor percentage widths should be around 90%, to make up for existing paddings.
*/
.k-popup-edit-form .k-edit-field
{
    width: 70%;
}

/*
    Expand the edit textboxes and any other Kendo UI widgets.
    In case of unexpected side effects, use widget-specific classes, instead of .k-widget.
*/
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip)
{
    width: 98%;
}

</style>