    <div id="page_content" ng-init="init()">
        <div id="page_content_inner">

            <h4 class="heading_a uk-margin-bottom">Тохиргоо</h4>
            <form action="" class="uk-form-stacked" id="page_settings">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-large-1-1 uk-width-medium-1-1">
                        <div class="md-card">
                            <div class="md-card-content">
                                <div class="uk-form-row">
                                    <label for="settings_site_name">Сайтын гарчиг</label>
                                    <input class="md-input" type="text" id="settings_site_name" name="settings_site_name" ng-model="site_settings.siteTitle" md-input/>
                                </div>
                                <div class="uk-form-row">
                                    <label for="settings_page_description">Сайтын тухай</label>
                                    <textarea class="md-input" name="settings_page_description" id="settings_page_description" cols="30" rows="4" ng-model="site_settings.siteDescription" md-input textarea-autosize></textarea>
                                </div>
                                <div class="uk-form-row">
                                    <label for="settings_admin_email">Имэйл</label>
                                    <input class="md-input" type="text" id="settings_admin_email" name="settings_admin_email" ng-model="site_settings.email" md-input/>
                                </div>
                                <div class="uk-form-row">
                                    <label for="settings_admin_tel">Утас</label>
                                    <input class="md-input" type="text" id="settings_admin_tel" name="settings_admin_tel" ng-model="site_settings.tel" md-input/>
                                </div>
                                <div class="uk-form-row">
                                    <label for="settings_admin_copyright">Зохиогчийн эрх</label>
                                    <input class="md-input" type="text" id="settings_admin_copyright" name="settings_admin_copyright" ng-model="site_settings.copyright" md-input/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="md-fab-wrapper">
                    <button type="submit" class="md-fab md-fab-primary" href="#" ng-click="saveSettings($event)">
                        <i class="material-icons">&#xE161;</i>
                    </button>
                </div>

            </form>

        </div>
    </div>