<!DOCTYPE html>
<!--[if lt IE 7 ]><html style="margin-top: 0 !important" class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html style="margin-top: 0 !important" class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html style="margin-top: 0 !important" class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <!--<![endif]-->
<html style="margin-top: 0 !important" lang="en-US"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Нүүр хуудас</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/home/assets/css/style.css" type="text/css" media="all" >
    <link rel="stylesheet" href="/home/assets/css/responsive.css" type="text/css" media="all" >
    <link rel="stylesheet" href="/home/assets/css/jquery.mCustomScrollbar.css" type="text/css" media="all" >
   	<script src="/home/assets/js/jquery.js"></script>
   	
   	<script src="/admin/assets/js/angular_common.min.js"></script>
   	<script src="/home/assets/js/app.js"></script>
    <!--[if lt IE 9]>
      <script src="/home/assets/js/html5shiv.js"></script>
       <link href="/home/assets/css/ie.css" rel='stylesheet' type='text/css'>
    <![endif]-->

    <!--[if IE 7]>
		<link rel="stylesheet" href="/home/assets/css/font-awesome-ie7.min.css">
	<![endif]-->

</head>
<body data-spy="scroll" data-target=".navbar" ng-app="app" ng-controller="mainCtrl">
<header id="header">
	<div class="header-holder">

		<div class="container hidden-phone">
			<div class="row">
				<div class="span1"></div>
				<div class="span10" style="padding-top: 10px">
					<div class="brow">
						<div class="brick1">
							<div class="nav-item" style="padding-top: 20px">
								<img src="/home/assets/img/myimg/citylogo.png"/>
							</div>
						</div>
						<div class="slogan brick3 transparent text-center">
							<div class="inner">
								<a href="/admin/" target="_blank" style="width: 100%;float: left;text-align: right;">Системд нэвтрэх</a>
								<h3><b>Нийслэлийн тусгай зөвшөөрлийн цахим систем</b></h3>
								<a href="#" style="color: black"> www.license.ulaanbaatar.mn</a>
							</div>

						</div>
					</div>
					<div class="brow">
						<div class="slogan brick3 transparent text-right">
							<div class="inner">
								<h4>Сайн байна уу? Таньд энэ өдрийн мэндийг хүргэе.</h4>
								<p>Та нийслэлийн "Иргэдэд нээлттэй цахим засаглал хөгжүүлэх" хөтөлбөрийн хүрээнд хийгдэж буй
									<a href="#" style="color: #2d62a0"> НИЙСЛЭЛИЙН ТУСГАЙ ЗӨВШӨӨРЛИЙН ЦАХИМ СИСТЕМ </a> - ийг ашиглаж байна.</p>
							</div>

						</div>
						<div class="brick1 thumb">
							<div class="nav-item">
								<img class="img1" src="/home/assets/img/myimg/img1.png" alt="">
							</div>
						</div>
					</div>

					<div class="brow">
						<div ng=title="{{app.description}}" class="brick1" ng-repeat="app in apps.data" ng-class="{even: $even, odd: $odd}" ng-click="open(app.url)" style="cursor:pointer">
							<div class="nav-item">
								<div class="nav-hover"></div>
								
								<i><img ng-src="{{app.image}}" style="max-width:40%;"></i>
								<span>{{app.name}}</span>
							</div>
						</div>

					</div>

				</div>
				<div class="span1"></div>
			</div>
		</div>

		<div class="container visible-phone">
			<div class="brick1">
				<div class="nav-item" style="padding-top: 20px">
					<img src="/home/assets/img/myimg/citylogo.png" style="width: 60%; "/>
				</div>
			</div>
			<div class="slogan brick1 text-center odd">
				<div class="inner">
					<h3><b>Нийслэлийн тусгай зөвшөөрлийн цахим систем</b></h3>
					<a href="#" style="color: black"> www.license.ulaanbaatar.mn</a>
				</div>
			</div>
			
		</div>
	</div>
</header> <!-- End header -->

<a href="#" id="btn_up">UP</a>
<footer id="footer">
	<div class="container">
		Монгол улсын нийслэл Улаанбаатар хот &copy; 2015 Зохиогчийн эрх хуулиар хамгаалагдсан.
		<span class="pull-right">
			<span class="icon-phone"> (+976) 1132 5170 &nbsp;&nbsp;&nbsp; </span>
			<span class="li_mail"> info@license.ulaanbaatar.mn</span>
		</span>

	</div>
</footer>
<!-- Bootstrap js -->
<script src="/home/assets/js/jquery-1.10.2.min.js"></script>
<script src="/home/assets/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="/home/assets/js/bootstrap-transition.js"></script>
<script src="/home/assets/js/bootstrap-modal.js"></script>
<script src="/home/assets/js/bootstrap-dropdown.js"></script>
<script src="/home/assets/js/script.js"></script>
<script src="/home/assets/js/bootstrap-carousel.js"></script>
<script src="/home/assets/js/bootstrap-collapse.js"></script>
<script src="/home/assets/js/bootstrap-scrollspy.js"></script>

<script src="/home/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/home/assets/js/jquery.mousewheel.min.js"></script>
<script src="/home/assets/js/jquery.hoverdir.js"></script>
<script src="/home/assets/js/jquery.isotope.min.js"></script>
<script src="/home/assets/js/jquery.scrollUp.js"></script>
<script src="/home/assets/js/main.js"></script>

<script type="text/javascript">

	+function ($) { "use strict";

		/*
		 * Carousel Caption Animation
		 * -------------------------------------------------------------------------
		 */
		new $.CarouselAnimation('#carousel-medium');
		/*
		 * Slider Tabs
		 * --------------------------------------------------------------
		 */
		new $.Slider({
			widget  : '#slider-tabs',   // The widget ID
			tab     : '#gallery'        // The tab ID
		});

		/*
		 * HOVER DIRECTION AWARE
		 * --------------------------------------------------------------
		 */
		$(' .da-thumbs > li ').each( function() { $(this).hoverdir({
			hoverDelay : 75
		}); } );

		/*
		 * Flickr Feed
		 * --------------------------------------------------------------
		 */
		/* new $.FlickrFeed({
			element : '#flickr-feed', // Your element id to place the photos.
			items   : 9, // How many items do you want to show.
			id      : '', // A single user ID. This specifies a user to fetch for. eg: '685365@N25'.
			ids     : '', // A comma delimited list of user IDs. This specifies a list of users to fetch for.
			tags    : '', // A comma delimited list of tags to filter the feed by.
			tagmode : ''  // Control whether items must have ALL the tags (tagmode=all), or ANY (tagmode=any) of the tags. Default is ALL.
		}); */

		/* new $.FlickrFeed({
			element : '#flickr-feed-aside', // Your element id to place the photos.
			items   : 12, // How many items do you want to show.
			id      : '', // A single user ID. This specifies a user to fetch for. eg: '685365@N25'.
			ids     : '', // A comma delimited list of user IDs. This specifies a list of users to fetch for.
			tags    : '', // A comma delimited list of tags to filter the feed by.
			tagmode : ''  // Control whether items must have ALL the tags (tagmode=all), or ANY (tagmode=any) of the tags. Default is ALL.
		}); */

		/*
		 * Nivo Lightbox
		 * --------------------------------------------------------------
		 */
		$('#gallery a, .image a:has(.fa-search-plus)').nivoLightbox({
			effect  : 'fadeScale'
		});

		/*
		 * jQuery Marquee
		 * --------------------------------------------------------------
		 */
		$('.breaking-news .content').marquee({
			duplicated      : true,
			duration        : 20000,
			pauseOnHover    : true
		});

	} (jQuery);

</script>

</body>
</html>