<!DOCTYPE html>

<html style="margin-top: 0 !important" lang="en-US" ng-app="app"
	ng-controller="mainCtrl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title ng-bind="settings.siteTitle">Нүүр хуудас</title>
<link rel="icon" type="image/png" href="/admin/assets/img/logo_main_small.png" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link
	href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic-ext"
	rel="stylesheet">
<script src="/home/js/jquery.js"></script>
<script src="/admin/assets/js/angular_common.min.js"></script>
<script src="/home/js/angular-route.min.js"></script>
<script src="/home/js/angular-resource.min.js"></script>
<script src="/home/js/angular-swiper.js"></script>
<script src="/home/js/app.js"></script>
<script src="/home/js/swiper.min.js"></script>

<link rel="stylesheet" href="/home/css/style.css">
<link rel="stylesheet" href="/home/css/swiper.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<script src="/home/js/ng-infinite-scroll.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<div class="container nop" id="header">
			<div class="col-xs-12 col-md-12 col-lg-7 nop" style="padding-right: 81px !important;">
				<div class="list_cover"
					ng-style="{'background-image':'url({{settings.logo}})'}" style="width: 75px;padding-bottom: 75px;margin-top: 3px;height: 75px;margin-left: 5px;background-size: contain !important;" ng-if="settings.logo.length > 0"></div>
				<h3 class="truncate" ng-bind="settings.siteTitle"></h3>
			</div> 
			<div class="col-xs-12 col-md-12 col-lg-5 nop" id="header_menu">
				<ul id="top_menu">
					<li><a href="/#/">Эхлэл</a></li>
					<li><a href="/#/about/">Танилцуулга</a></li>
				</ul>
			</div> 
		</div>
	</header>
	<main>
	<div class="container" style="padding:0px;">
		<ks-swiper-container loop="true" show-nav-buttons="true" slides-per-view="1" space-between="0" pagination-clickable="false" autoplay="5000">
		    <ks-swiper-slide class="swiper-slide" ng-repeat="s in settings.slider_items">
		        <div class="slider_item" ng-style="{'background-image':'url({{s}})'}"></div>
		    </ks-swiper-slide>
		</ks-swiper-container>
	</div>
	<div ng-view class="container" style="padding-top:30px;">
		
	</div>
	</main>
	<footer>
		<div class="container" id="footer">
			<div class="footer_bottom row">
				<i class="fa fa-phone" aria-hidden="true"></i> {{settings.tel}} <i
					class="fa fa-envelope" aria-hidden="true"
					style="margin-left: 15px;""></i> {{settings.email}}
			</div>
			<div class="footer_bottom_dark row" ng-bind="settings.copyright">
				{{settings.tel}} {{settings.email}}</div>
		</div>
		<div class="container" style="margin-bottom:15px;text-align: center;background: transparent;font-family: 'Roboto Condensed', sans-serif;color: #fff;padding-top: 15px;">
			Смарт Грийн Технологи ХХК © 2016 он</div>
	</footer>
</body>
</html>